# Dart environment & builds
.dart_tool/
.packages
build/

# Temporary files & archives
*.7z
*.part
*.zip
*.tar.gz
tmp*

# Downloaded media archives & directories
Key BOX*

# Example output
output/
out/
tracks.jsonl
dist/
